---
import '../styles/global.css';
import { getLangFromUrl } from '../lib/utils';
import Footer from '../components/sections/section.footer.astro';
import Header from '../components/sections/section.header.astro';
const lang = Astro.props.locale || getLangFromUrl(Astro.url);
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="locale" content={lang} />
		<meta name="pathname" content={Astro.url.pathname} />
		<meta name="url" content={Astro.url.toString()} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<Header locale={lang} />
		<slot />
		<Footer locale={lang} />
	</body>
</html>